SEAT_ACCOUNT=
SEAT_PASSWORD=
SEAT_CONTROL_TOKEN=replace-with-a-long-random-token
SEAT_DRY_RUN=true
SEAT_DB_PATH=seat_assistant.db
SEAT_CONTROL_HOST=127.0.0.1
SEAT_WECOM_WEBHOOK=
SEAT_LOGIN_URL=https://seatlib.hpu.edu.cn/libseat/
SEAT_MAX_RESERVATIONS_PER_RUN=1
